body,
html {
    scroll-behavior:smooth;
    padding: 0;
    margin: 0;
    color: #333;
    background-color: #f5f5f5;
}
/* 右边工具栏浮窗 */
.tool-bar {
    width: 27px;
    height: 261px;
    /* background-color: white; */
    box-shadow: 0 0 2px 0 rgb(0, 0, 0, 0.05);
    position: fixed;
    z-index: 60;
    right: 0;
    bottom: 95px;

}
.tool-bar ul {
    position: absolute;
}
.tool-bar li {
    position: relative;
    display: inline-block;
    background-color: white;
    width: 27px;
    height: 42px;
    border: 1px solid #f5f5f5;
    opacity: 1;
    transition: 0.3s;

}

.tool-bar ul:first-child li:last-child{
    top: 20px;
}
.tool-bar>ul:last-child li:nth-last-child(2){
    top: 20px;
}
.tool-bar li:hover+p {
    opacity: 1;
    transition: 0.3s;
}
.tool-bar p {
    /* display: none; */
    width: 130px;
    height: 190px;
    background-color: white;
    box-shadow: 0 0 5px 0 rgb(0, 0, 0, 0.05);
    position: absolute;
    z-index: 50;
    left: -145px;
    top: 0;
    padding: 0;
    margin: 0;
    transition: 0.3s;
    opacity: 0;
}

.tool-bar p:nth-child(10) span,
.tool-bar p:nth-child(12) span,
.tool-bar p:nth-child(4) span,
.tool-bar p:nth-child(6) span,
.tool-bar p:nth-child(8) span {
    bottom: 5px;
}

.tool-bar p:nth-child(10),
.tool-bar p:nth-child(12),
.tool-bar p:nth-child(4),
.tool-bar p:nth-child(6),
.tool-bar p:nth-child(8) {
    /* display: none; */

    width: 70px;
    height: 30px;
    text-align: center;
    background-color: white;
    box-shadow: 0 0 5px 0 rgb(0, 0, 0, 0.05);
    position: absolute;
    z-index: 50;
    left: -85px;
    margin: auto;
    top: 50px;
    bottom: 0;
    padding: 0;
    margin: 0;
    transition: 0.3s;
    opacity: 0;
}
.tool-bar p:nth-child(6) {
    top: 96px;
}
.tool-bar p:nth-child(8) {
    top: 140px;
}
.tool-bar p:nth-child(10) {
    top: 184px;
}
.tool-bar p:nth-child(12) {
    top: 249px;
}
.tool-bar p::before {
    position: absolute;
    right: -16px;
    top: 7px;
    content: '';
    border: 8px solid;
    border-color: transparent transparent transparent white;
}
.tool-bar p img {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 100px;
    height: 100px;
    top: 20px;
}
.tool-bar p span {
    font-size: 14px;
    color: #757575;
    display: block;
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 15px;

}
.tool-bar li:nth-child(4-n) {

    border-bottom: none;
}
.tool-bar li:hover {
    opacity: 0;
    cursor: pointer;
    transition: 0.3s;

}

.tool-bar img {
    width: 20px;
    height: 20px;
    position: relative;
    left: 3px;
    top: 12px;

}

.backg1 {
    width: 100%;
    height: 810px;
    background-color: white;
    position: absolute;
    /* z-index: -1; */
    left: 0;
    top: 0;
    box-shadow: 0 5px 5px rgb(0, 0, 0, 0.01);
}
header {
    width: 100%;
    height: 40px;
    white-space: nowrap;
    background-color: #333;
    position: relative;

}

header * {

    display: inline-block;
    font-size: 12px;
    color: #b0b0b0;

}

header .wraper * {
    line-height: 40px;

}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.wraper {
    position: absolute;
    width: 1226px;
    right: 0;
    left: 0;
    margin: auto;

}

.navigation li:hover {
    color: #ff6700;
    cursor: pointer;
}

.interval {
    width: 1px;
    height: 17px;
    background-color: #424242;
    margin: 3.5px;
    vertical-align: middle;
}
.navigation p {
    /* display: none; */
    margin: 0;
    width: 125px;
    height: 0;
    background-color: white;
    box-shadow: 0 0 5px 0 rgb(0, 0, 0, 0.2);
    position: absolute;
    z-index: 50;
    top: 100%;
    left: 510px;
    transition: 0.3s;
}

.navigation li:nth-child(21):hover+p span:nth-child(3) {

    border: 10px solid;
    border-color: transparent transparent white transparent;
    position: absolute;
    top: -17px;
    z-index: 50;
    left: 53px;
    transition: 0.3s;

}
.navigation li:nth-child(21):hover~p img {
    /* display: block; */
    width: 90px;
    height: 90px;
    transition: 0.3s;

}
.navigation p img {
    /* display: none; */
    width: 90px;
    height: 0;
    position: absolute;
    margin: auto;
    top: -20px;
    bottom: 0;
    left: 0;
    right: 0;
    transition: 0.3s;
}

.navigation li:nth-child(21):hover+p span:nth-child(2) {
    font-size: 14px;
    line-height: normal;
    transition: 0.3s;

}
.navigation p span:nth-child(2) {
    line-height: 0;
    font-size: 0;
    color: #333;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 15px;
    text-align: center;
    transition: 0.3s;

}
.navigation li:nth-child(21):hover~p {
    /* display: block; */
    height: 150px;
    transition: 0.3s;

}
.log-in {
    float: right;
}

.log-in li:hover {
    color: #ff6700;
    cursor: pointer;
}

.shopping-cart {
    width: 120px;
    text-align: center;
    background-color: #424242;
    margin-left: 15px;
    position: relative;
}

.shopping-cart::before {
    content: url("img/shopping-cart1.png");
    position: relative;
    top: 5px;
}

.shopping-cart:hover {

    background-color: white;
    cursor: pointer;
}

.shopping-cart:hover span {
    color: #ff6700;

}

.shopping-cart:hover::before {
    content: url("img/shopping-cart2.png");

}

.log-in {
    padding: 0 0 0 5px;
}

.log-in > li:nth-child(5) {
    padding: 0 10px;
}

.shopping-cart::after {
    content: '';
    width: 320px;
    height: 0;
    box-shadow: 0 3px 3px 1px rgb(0, 0, 0, 0.1);
    background-color: white;
    position: absolute;
    top: 100%;
    right: 0;
    line-height: 100px;
    text-align: center;
    color: #333;
    transition: 0.3s;
    z-index: 100;
}

.shopping-cart:hover::after {
    content: "购物车中还没有商品，赶紧选购吧!";
    width: 320px;
    height: 100px;
    transition: 0.3s;

}

.nav-wraper {
    width: 1226px;
    height: 100px;
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    margin: auto;
}

/* 头部导航栏+搜索 */

/* logo */
.logo {
    width: 55px;
    height: 55px;
    position: absolute;
    overflow: hidden;
    margin: auto;
    bottom: 0;
    top: 0;
    margin-right: 22px;

}

.logo::before {
    content: url("img/logo.png");
    position: absolute;
    margin: auto;
    width: 55px;
    height: 55px;
    left: -110px;
    right: 0;
    top: 0;
    bottom: 0;
    transition: 0.3s;

}

.logo:hover::before {
    content: url("img/logo.png");
    position: absolute;
    margin: auto;
    width: 55px;
    height: 55px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transition: 0.3s;

}

/* nav-list */
.nav-list1 {
    position: absolute;
    left: 234px;
    top: 0;
    bottom: 0;
    margin: auto;
    font-size: 16px;
}

.nav-list2 {
    position: absolute;
    left: 719px;
    top: 0;
    bottom: 0;
    margin: 0 0 0 15px;
    font-size: 16px;
}

.nav-list1 li p,
.nav-list2 li p {
    color: #333;
    font-size: 14px;
    position: relative;
    line-height: 100px;
    margin: 0 10px;
}

.nav-list1 li p:hover,
.nav-list2 li p:hover {
    color: #ff6700;
    cursor: pointer;
}

/* 搜索 */
.search {
    width: 297px;
    height: 50px;
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}

.search input {
    box-sizing: border-box;
    width: 245px;
    height: 50px;
    padding: 0 10px;
    border: 1px solid #e0e0e0;
    color: #333333;
    font-size: 14px;
    position: relative;
    left: 1px;
    transition: 0.2s;
}

.search input:hover {
    border: 1px solid #b0b0b0;
    height: 50px;
    width: 245px;
    transition: 0.2s;
}

.search input:focus {
    width: 245px;
    outline: none;
    border-color: #ff6700;
    transition: 0.2s;
}

.search-btn:hover {
    background-color: #ff6700;
    border-color: #ff6700;
    transition: 0.3s;
}

.search-items ul li {
    font-size: 0;
}

input:focus~.search-items ul {
    background-color: white;
    font-size: 14px;
    width: 243px;
    height: 300px;
    position: absolute;
    left: 1px;
    top: 49px;
    border: 1px solid #ff6700;
    z-index: 40;
}

input:focus~.search-items ul li {
    font-size: 14px;
    color: #333333;
    padding: 0 0 0 15px;
    height: 30px;
    display: block;
    line-height: 30px;
}

.search-items ul li:hover {
    cursor: pointer;
    background-color: #fafafa;
}

.search-btn {
    box-sizing: border-box;
    position: absolute;
    right: 0;
    margin: auto;
    bottom: 0;
    top: 0;
    width: 52px;
    height: 50px;
    border: 1px solid #e0e0e0;
    background-color: white;
    transition: 0.2s;
}

.search-btn::before {
    content: url("img/icon-search.png");
}

.search-btn:hover::before {
    content: url("img/icon-search-hover.png");
}

.search input:hover~.search-btn {
    border: 1px solid #b0b0b0;
    transition: 0.2s;
}

.search input:focus~.search-btn {

    border-color: #ff6700;
    transition: 0.2s;
}

.search input:focus~.search-key-words {
    display: none;
}

.search .search-key-words {
    font-size: 14px;
    display: inline-block;
    position: absolute;
    z-index: 10;
    right: 60px;
    height: 17px;
    margin: auto;
    top: 0;
    bottom: 0;

}

.search-key-words span {
    position: relative;
    top: -2px;
    background-color: #eeeeee;
    color: #757575;
    line-height: normal;
    padding: 0 5px;
    margin-left: 5px;
}

.search-key-words span:hover {
    color: white;
    background-color: #ff6700;
    transition: 0.2s;
    cursor: pointer;
}

/* 下拉框 */
.pro-bac {
    width: 600px;
    height: 0;
    padding: 0 10000px;
    margin: 0 -10000px;
    background-color: white;
    /* border-top: 1px solid white; */
    position: absolute;
    top: 100%;
    left: -1000px;
    margin: auto;
    overflow: hidden;
    box-sizing: border-box;
    transition: 0.3s;
    transition-delay: 0.2s;
    z-index: 60;
}

.nav-list1:hover .pro-bac {
    height: 230px;
    border-top: 1px solid #e0e0e0;
    transition: 0.2s;
    transition-delay: 0.2s;
    transition: 0.3s;
    transition-delay: 0.2s;
    /* box-shadow: 0 3px 3px 0px rgb(0, 0, 0, 0.05); */

}

.nav-list1:hover li:first-child .pro-bac {

    box-shadow: 0 3px 3px 0 rgb(0, 0, 0, 0.05);
}

.product-kinds:hover .pro-bac {
    z-index: 70;
}

.products {
    width: 1226px;
    height: 230px;
    position: absolute;
    /* border: 1px solid; */
    left: 765px;
}

.products li img {
    display: block;
    width: 160px;
    position: absolute;
    left: 0;
    right: 0;
    top: 10px;
    margin: auto;
}

.products li span {
    line-height: normal;
    display: block;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    text-align: center;

}

.products li .product-name {
    bottom: 30px;
    color: #333333;
}

.products li .product-price {
    bottom: 10px;
    color: #ff6700;

}

.products li {
    display: inline-block;
    width: 180px;
    height: 180px;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
}

.products > li:nth-child(3) {
    margin-left: 16.7%;
}

.interval2:nth-child(4) {
    margin-left: 214px;
}

.products > li:nth-child(5) {
    margin-left: 33.3%;
}

.interval2:nth-child(6) {
    margin-left: 418px;
}

.products > li:nth-child(7) {
    margin-left: 50%;
}

.interval2:nth-child(8) {
    margin-left: 623px;
}

.products > li:nth-child(9) {
    margin-left: 66.7%;
}

.interval2:nth-child(10) {
    margin-left: 826px;
}

.products > li:nth-child(11) {
    margin-left: 83.3%;
}

.interval2 {
    width: 1px;
    height: 100px;
    background-color: #e0e0e0;
    position: absolute;
    left: 184px;
    margin: 40px 10px 90px;

}

.products li:hover {
    cursor: pointer;
}

/* 网页中部 */
.wraper2 {
    width: 1226px;
    height: 670px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 140px;
}

.contain {
    width: 1226px;
    height: 460px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;

}
/* 左边导航栏 */
.contain aside {
    position: absolute;
    padding: 20px 0;
    width: 234px;
    height: 420px;
    z-index: 50;
    background-color: rgb(105, 101, 101, 0.6);
}

.contain aside > ul > li {
    color: white;
    font-size: 14px;
    height: 42px;
    line-height: 42px;
    padding-left: 30px;
    position: relative;

}

.wraper2 .contain>aside > ul > li:hover {
    cursor: pointer;
    background-color: #ff6700;
}

.contain aside > ul > li::before {
    display: inline-block;
    width: 16px;
    height: 16px;
    content: url("img/icon-right.png");
    position: absolute;
    right: 20px;
    vertical-align: middle;
    top: 3px;
}

.products2 {
    width: 0;
    height: 460px;
    background-color: white;
    box-shadow: 0 0 15px 0 rgb(0, 0, 0, 0.2);
    position: absolute;
    left: 234px;
    top: -20px;
}

.contain aside > ul > li:nth-child(2):hover .products2 {
    top: -62px;
}

.contain aside > ul > li:nth-child(3):hover .products2 {
    top: -104px;
    width: 744px;

}
.contain aside > ul > li:nth-child(10):hover .products2 table,
.contain aside > ul > li:nth-child(3):hover .products2 table,
.contain aside > ul > li:nth-child(5):hover .products2 table,
.contain aside > ul > li:nth-child(6):hover .products2 table,
.contain aside > ul > li:nth-child(9):hover .products2 table {
    width: 744px;
}
.contain aside > ul > li:nth-child(4):hover .products2 {
    top: -146px;
}

.contain aside > ul > li:nth-child(5):hover .products2 {
    top: -188px;
    width: 744px;
}

.contain aside > ul > li:nth-child(6):hover .products2 {
    top: -230px;
    width: 744px;
}

.contain aside > ul > li:nth-child(7):hover .products2 {
    top: -272px;
    width: 496px;
}
.contain aside > ul > li:nth-child(7):hover .products2 table {
    width: 496px;
}
.contain aside > ul > li:nth-child(8):hover .products2 {
    top: -314px;
}

.contain aside > ul > li:nth-child(9):hover .products2 {
    top: -356px;
    width: 744px;
}

.contain aside > ul > li:nth-child(10):hover .products2 {
    top: -398px;
    width: 744px;
}

.contain aside > ul > li:hover .products2 {
    width: 992px;
    box-shadow: 0 0 15px 0 rgb(0, 0, 0, 0.2);
}

.contain aside > ul > li:hover table {
    display: table;
}

.products2 table {
    display: none;
    width: 992px;
    height: 460px;
    position: absolute;
    top: 0;
}

.products2 table td {
    width: 248px;
    height: 70px;
    padding: 0;
    position: relative;
}

.products2 table td img {
    width: 40px;
    position: absolute;
    left: 20px;
    top: 0;
    bottom: 0;
    margin: auto;
}

.products2 table span {
    color: #333333;
    vertical-align: middle;
    position: absolute;
    left: 70px;
    line-height: 70px;
    top: 0;
    bottom: 0;
    margin: auto;
    transition: 0.3s;
}
.products2 table td:hover {
    cursor: pointer;
}
.products2 table td:hover span {
    color: #ff6700;
    transition: 0.3s;
}

/* 轮播图 */
.slideshow {
    width: 1226px;
    height: 460px;

    position: absolute;
    top: 0;

}
.slideshow img {
    width: 1226px;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;

}
.slideshow > label {
    width: 8px;
    height: 8px;
    background-color: rgb(0,0,0,0.4);
    border: 2px solid rgb(255,255,255,0.4);
    border-radius: 6px;
    display: inline-block;
    position: relative;
    left: 1095px;
    top: 420px;
    transition: 0.3s;
    z-index: 30;
    margin: 2px;
}
.slideshow > label:hover {
    border-color: rgb(0,0,0,0.4);
    background-color: rgb(255,255,255,0.7);
    transition: 0.3s;
    cursor: pointer;
}
.slideshow input:checked+label {
    border-color: rgb(0,0,0,0.4);
    background-color: rgb(255,255,255,0.7);
    transition: 0.3s;
}
.slideshow input {
    padding: 0;
    margin: -6px;
    display: none;
}
.slideshow input:checked+*+img {
    z-index: 20;
    transition: 2s;
    opacity: 100%;
}
.arrow-l,
.arrow-r {
    width: 41px;
    height: 69px;

}
.arrow-l label {
    width: 41px;
    height: 69px;
    position: absolute;
    left: 234px;
    /* border: 1px solid red ; */
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 20;
    border-radius: 0 2px 2px 0;
    overflow: hidden;
}

.arrow-r label {
    width: 41px;
    height: 69px;
    position: absolute;
    right: 0;
    /* border: 1px solid red ; */
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 20;
    border-radius: 2px 0 0 2px;
    overflow: hidden;
}

.arrow-r label::before {
    position: absolute;
    left: -124px;
    z-index: 25;
    content: url("https://i1.mifile.cn/f/i/2014/cn/icon/icon-slides.png");

}
.arrow-l label::before {
    position: absolute;
    left: -84px;
    z-index: 25;
    content: url("https://i1.mifile.cn/f/i/2014/cn/icon/icon-slides.png");
}
.arrow-l label:hover::before {
    cursor: pointer;
    left: 0;
    content: url("https://i1.mifile.cn/f/i/2014/cn/icon/icon-slides.png");
}
.arrow-r label:hover::before {
    cursor: pointer;
    left: -42px;
    content: url("https://i1.mifile.cn/f/i/2014/cn/icon/icon-slides.png");
}

.slideshow #a:checked~.arrow-l > label:nth-child(5),
.slideshow #b:checked~.arrow-l > label:nth-child(1),
.slideshow #c:checked~.arrow-l > label:nth-child(2),
.slideshow #d:checked~.arrow-l > label:nth-child(3),
.slideshow #e:checked~.arrow-l > label:nth-child(4) {
    z-index: 25;
}
.slideshow #a:checked~.arrow-r > label:nth-child(2),
.slideshow #b:checked~.arrow-r > label:nth-child(3),
.slideshow #c:checked~.arrow-r > label:nth-child(4),
.slideshow #d:checked~.arrow-r > label:nth-child(5),
.slideshow #e:checked~.arrow-r > label:nth-child(1) {
    z-index: 25;
}
/* 网站导航入口 */
.home-channel-list {
    width: 234px;
    height: 170px;
    background-color: #5f5f50;
    position: absolute;
    top: 475px;
}
.home-channel-list img {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    margin: auto;
}
.home-channel-list table {
    border-collapse: collapse;
}
.home-channel-list td {
    width: 78px;
    height: 85px;
    position: relative;
    text-align: center;
    padding: 0;
    opacity: 0.6;
    transition: 0.7s;
}
.home-channel-list span {

    font-size: 12px;
    color: rgb(255,255,255,.7);
    white-space: nowrap;

    position: relative;
    top: 12px;
}

.home-channel-list td::before {
    content: '';
    width: 1px;
    height: 70px;
    background-color: #726a62;
    /* background-color:white; */
    right: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;

}
.home-channel-list td::after {
    content: '';
    width: 64px;
    height: 1px;
    background-color: #726a62;
    /* background-color:white; */
    right: 0;
    position: absolute;
    top: 0;
    left: 0;
    margin: auto;
}
.home-channel-list td:hover {
    cursor: pointer;
    opacity: 1;
    transition: 0.7s;
}
/* 导航入口三张图片 */
.channel-img {
    position: absolute;
    left: 249px;
    top: 475px;
    /* border: 1px solid red; */

}
.home-hero-sub .channel-img img {
    display: inline-block;
    width: 316px;
    height: 170px;
    position: absolute;
    transition: 0.5s;
}
.home-hero-sub .channel-img img:nth-child(2) {
    left: 331px;
}
.home-hero-sub .channel-img img:nth-child(3) {
    left: 662px;
}
.home-hero-sub .channel-img img:hover {
    box-shadow: 0 15px 20px 0 rgb(0,0,0,0.15);
    transition: 0.5s;
    cursor: pointer;
}

/* 网页主体部分 */
.home-main {
    width: 100%;
    height: 6035px;
    position: absolute;
    top: 810px;

}
.home-main .contain {
    width: 1226px;
    height: 6000px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
}

/* 小米闪购 */
.flashsales {

    position: relative;
    width: 100%;
    height: 555px;
    padding: 12px 0 0;

}

/* 手机 */
.phone {

    position: relative;
    width: 100%;
    height: 820px;

}

/* 家电 */
.appliance {

    position: relative;
    width: 100%;
    height: 820px;

}

/* 智能 */
.smart {

    position: relative;
    width: 100%;
    height: 820px;

}

/* 搭配 */
.accessories {

    position: relative;
    width: 100%;
    height: 820px;

}

/* 配件 */
.parts {

    position: relative;
    width: 100%;
    height: 820px;

}
/* 周边 */
.surrounding {

    position: relative;
    width: 100%;
    height: 820px;

}
/* 视频 */
.video {

    position: relative;
    width: 100%;
    height: 370px;
}

/* 底部服务栏 */
.site-footer {
    position: absolute;
    width: 100%;
    height: 175px;
    top: 6750px;

}

/* 底部信息栏 */
.site-info {
    position: absolute;
    width: 100%;
    height: 200px;
    top: 7060px;
    padding: 30px 0 0;
}
h1 {
    /* line-height: 58px; */
    width: 100%;
    /* height: 58px; */
    font-size: 22px;
    color: #333333;
    position: relative;
    font-weight: 300;
}
.flashsales .contain1 .row {
    width: 100%;
    height: 340px;
    position: relative;
}

.banner {
    width: 100%;
    height: 120px;
    position: relative;
    padding-top: 20px;
}
.countdown {
    width: 234px;
    height: 340px;
    background-color: #f1eded;
    position: relative;
    padding: 40px 0 0;
    box-sizing: border-box;
}
#p1 {
    color: #ef3a3b;
    font-size: 21px;
    text-align: center;
    position: relative;
    top: 5px;
}
.countdown::before {
    content: '';
    width: 234px;
    height: 1px;
    background-color: #d4483f;
    position: absolute;
    top: 0;

}
.countdown img {
    width: 34px;
    position: absolute;
    margin: auto;
    top: 110px;
    left: 0;
    right: 0;
    padding: 10px 0;
}
#p2 {
    color: rgb(0, 0, 0, 0.54);
    font-size: 15px;
    text-align: center;
    position: relative;
    top: 90px;
}
.countdown .timer {
    text-align: center;
    display: inline-block;
    position: absolute;
    bottom: 50px;
    width: 200px;
    left: 0;
    right: 0;
    margin: auto;
}
.countdown .timer span {
    width: 46px;
    height: 46px;
    background-color: #605751;
    color: white;
    font-size: 24px;
    /* float: left; */
    display: inline-block;
    line-height: 46px;
}
.countdown .timer i {
    width: 15px;
    height: 46px;
    color: #605751;
    font-size: 28px;
    line-height: 46px;
    font-style: normal;
}
.row {
    width: 100%;
    height: 555px;
    position: relative;

}
.flashsales-list {
    width: 992px;
    height: 340px;
    position: absolute;
    top: -30px;
    right: 0;
}

/* 轮播图 */
.slidimg2 input {
    display: none;
}

.arrow-r2 label {
    display: inline-block;
    width: 36px;
    height: 24px;
    border: 1px solid #e0e0e0;
    position: absolute;
    /* top: -30px; */
    left: 939px;
    transition: 0.3s;

}
.arrow-l2 label {
    display: inline-block;
    width: 36px;
    height: 24px;
    border: 1px solid #e0e0e0;
    position: absolute;
    /* top: -30px; */
    left: 903px;
    transition: 0.3s;

}

.arrow-r2 label::before {
    content: url("img/icon-arrow-right2.png");
    width: 36px;
    height: 24px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 1;
}
.arrow-r2 label:hover::before {
    content: url("img/icon-arrow-right2-hover.png");
    transition: 0.3s;
    cursor: pointer;
}

.arrow-l2 label:hover::before {
    content: url("img/icon-arrow-left2-hover.png");
    transition: 0.3s;
    cursor: pointer;
}

.arrow-l2 label::before {
    content: url("img/icon-arrow-left2.png");
    width: 36px;
    height: 24px;
    position: absolute;
    left: 0;
    top: 0;

}
#g1:checked~.arrow-l2 label::before {
    content: url("img/icon-arrow-left2-disabled.png");
    width: 36px;
    height: 24px;
    position: absolute;
    left: 0;
    top: 0;
}
#g3:checked~.arrow-r2 label::before {
    content: url("img/icon-arrow-right2-disabled.png");
    width: 36px;
    height: 24px;
    position: absolute;
    left: 0;
    top: 0;
}
#g1:checked~.arrow-l2 label:hover::before {
    content: url("img/icon-arrow-left2-disabled.png");
    width: 36px;
    height: 24px;
    position: absolute;
    left: 0;
    top: 0;
}
#g3:checked~.arrow-r2 label:hover::before {
    content: url("img/icon-arrow-right2-disabled.png");
    width: 36px;
    height: 24px;
    position: absolute;
    left: 0;
    top: 0;
}
.slidimg2 input:first-child:checked .arrow-l2::before {
    content: url("img/icon-arrow-left2.png");
    transition: 0.3s;
    cursor: pointer;
    opacity: 0.3;
}

#g1:checked~.arrow-r2 label:nth-child(2) {
    z-index: 20;
}
#g2:checked~.arrow-r2 label:nth-child(3) {
    z-index: 20;
}

#g1:checked~.arrow-l2 label:nth-child(1) {
    z-index: 20;
}
#g2:checked~.arrow-l2 label:nth-child(1) {
    z-index: 20;
}
#g3:checked~.arrow-l2 label:nth-child(2) {
    z-index: 20;
}

.slidimg2 input#g2:checked~ul.img-group2 {
    left: 0;
}
.slidimg2 input#g3:checked~ul.img-group3 {
    left: 0;
}

.imgs {
    display: inline-block;
    width: 2988px;
    height: 340px;
    position: absolute;
    left: 0;
    top: 40px;
    /* border: 1px solid red; */
    white-space: nowrap;
    /* overflow: hidden; */
    transition: 0.5s;
}

#g2:checked~.imgs {
    left: -997px;
    transition: 0.5s;
}
#g3:checked~.imgs {
    left: -2009px;
    transition: 0.5s;
}
.slidimg2 {

    width: 977px;
    height: 380px;
    position: absolute;
    right: 0;
    top: -8px;
    /* border: 1px solid red; */

    overflow: hidden;
}
.imgs > ul {
    display: inline-block;
    width: 977px;
    height: 340px;
    margin-right: 15px;
    position: relative;
}

.imgs > ul > li {
    display: inline-block;
    width: 234px;
    height: 340px;
    background-color: white;
    position: absolute;

    margin: 0 15px 0 0;
}

.imgs > ul > li :hover {
    cursor: pointer;
}
.imgs > ul > li:nth-child(2) {
    left: 249px;
}

.imgs > ul > li:nth-child(1)::after {
    content: attr(data-tip);
    width: 65px;
    height: 20px;
    background-color: #d0473e;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    font-size: 12px;
    color: white;
    text-align: center;
    line-height: 20px;

}

.imgs > ul > li:nth-child(1)::before {
    content: '';
    width: 234px;
    height: 1px;
    background-color: #f4ae41;
    position: absolute;
    top: 0;

}
.imgs > ul > li:nth-child(2)::before {
    content: '';
    width: 234px;
    height: 1px;
    background-color: #92c25f;
    position: absolute;
    top: 0;

}
.imgs > ul > li:nth-child(3)::before {
    content: '';
    width: 234px;
    height: 1px;
    background-color: #4696ec;
    position: absolute;
    top: 0;

}
.imgs > ul > li:nth-child(4)::before {
    content: '';
    width: 234px;
    height: 1px;
    background-color: #d4483f;
    position: absolute;
    top: 0;

}

.imgs > ul > li:nth-child(3) {
    left: 498px;
}
.imgs > ul > li:last-child {
    left: 747px;
    margin-right: 0;
}
.imgs img {
    width: 160px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 40px;

}
.title1 {
    left: 0;
    right: 0;
    margin: auto;
    color: #333;
    font-size: 14px;
    position: absolute;
    bottom: 100px;
    text-align: center;
}
.intro {
    text-align: center;
    color: #bfbfbf;
    font-size: 12px;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 78px;
    position: absolute;
}
.price {
    text-align: center;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 45px;
    position: absolute;
}
.price-now {

    color: #ff6700;
    font-size: 14px;
}

.price-over {
    color: #bfbfbf;
    text-decoration: line-through;
}
/* 广告图 */
.banner > img {
    width: 1226px;
    height: 120px;

}
.banner:hover {
    cursor: pointer;
}

/* 手机 */
.contain h2 {
    /* line-height: 58px; */
    width: 100%;
    /* height: 58px; */
    font-size: 22px;
    color: #333333;
    position: relative;
    font-weight: 300;

}
.more {
    display: inline-block;
    position: absolute;
    right: 0;
    width: 92px;
    /* height: 58px; */
    vertical-align: middle;

}

.contain h2 span:first-child {
    color: #424242;
    font-size: 16px;
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    transition: 0.5s;
}
.more:hover {
    cursor: pointer;
}
.more:hover > span:first-child {
    color: #ff6700;
    transition: 0.3s;

}

.more:hover > span:nth-child(2) {
    background-color: #ff6700;
    transition: 0.3s;
}
.more span:nth-child(2) {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background-color: #b0b0b0;
    position: absolute;
    right: 0;
    top: 1px;

    margin: auto;
    transition: 0.3s;
    cursor: pointer;
}
.more span:nth-child(2)::before {
    width: 10px;
    height: 10px;
    content: url("img/icon-right.png");
    position: relative;
    top: -5px;
}
.contain2 .row {
    position: relative;
    width: 100%;
    height: 614px;
}
.row .aside2 {
    position: relative;
    width: 234px;
    height: 614px;
    padding: 0;
}
.banner2 {
    width: 234px;
    height: 614px;
    position: absolute;
    left: 0;
    top: 0;
    padding: 0;
    transition: 0.5s;
}
.banner2:hover {
    top: -2px;
    transition: 0.3s;
    box-shadow: 0 15px 30px 0 rgb(0, 0, 0, 0.1);
    z-index: 10;
    cursor: pointer;
}

.banner2 img {
    width: 234px;
    padding: 0;
    /* position: absolute; */
    /* top: 0; */
}
.brick-list {
    width: 992px;
    height: 614px;
    position: absolute;
    left: 234px;
    top: 0;
    margin: 0;
    padding: 0;
}
.brick-item {
    width: 234px;
    height: 300px;
    padding: 20px 0;
    background-color: white;
    box-sizing: border-box;
    float: left;
    top: 0;
    /* margin: 0 10px; */
    transition: 0.3s;
}

.brick-item:hover {
    top: -2px;
    transition: 0.3s;
    box-shadow: 0 15px 30px 0 rgb(0, 0, 0, 0.1);
    z-index: 10;
    cursor: pointer;
}

.product-img {
    width: 160px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}
.brick-item .price-now {
    position: absolute;
    bottom: 34px;
    margin: auto;
    left: 0;
    right: 0;
    text-align: center;

}
.brick-item .intro {
    position: absolute;
    bottom: 66px;
}
.brick-item .title1 {
    position: absolute;
    bottom: 86px;
}
.brick-list .brick-item {
    position: relative;
    display: inline-block;
    margin: 0 0 14px 14px;
}
.brick-list > .brick-item:nth-child(2) {
    position: relative;
    display: inline-block;
    top: -314px;
    margin: 0 0 14px 14px;
}

/* 家电 */
.contain2 aside {
    width: 234px;
    height: 614px;

}
.banner3 {
    width: 234px;
    height: 300px;
}
.banner3 img {
    width: 234px;
    height: 300px;
}
.banner3:nth-child(2) {
    margin-top: 14px;
}

.appliance .brick-item .price-now {
    position: absolute;
    bottom: 14px;
    margin: auto;
    left: 0;
    right: 0;
    text-align: center;

}
.appliance .brick-item .intro {
    position: absolute;
    bottom: 46px;
}
.appliance .brick-item .title1 {
    position: absolute;
    bottom: 66px;
}

.appliance .banner3 img {
    /* display: inline-block; */
    width: 234px;
    height: 300px;
    position: relative;
    transition: 0.3s;

    /* float: left; */
}

.appliance .banner3:hover {
    position: relative;
    top: -2px;
    transition: 0.3s;
    box-shadow: 0 15px 30px 0 rgb(0, 0, 0, 0.1);
    z-index: 10;
    cursor: pointer;

}

.appliance .banner3 img:nth-child(2):hover {

    /* top: 312px; */
    transition: 0.3s;
    box-shadow: 0 15px 30px 0 rgb(0, 0, 0, 0.1);
    z-index: 10;
    cursor: pointer;
}
.appliance .banner3 img:nth-child(2) {
    position: absolute;
    height: 300px;
    /* display: inline-block; */
    top: 0;
    left: 0;

}

.appliance .brick-list > ul:nth-child(2) .brick-item:nth-last-child(2) {
    width: 234px;
    height: 143px;
    background-color: white;
}
.appliance .brick-list > ul:nth-child(2) .brick-item:last-child {
    width: 234px;
    height: 143px;
    background-color: white;
}

.appliance .brick-list > ul:nth-child(2) .brick-item:nth-last-child(2) .product-img {
    width: 80px;
    height: 80px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    right: -105px;

}
.appliance .brick-list > ul:nth-child(2) .brick-item:nth-last-child(2) .title1 {
    width: 94px;
    text-align: left;
    position: absolute;
    left: -70px;
    top: 40px;
    line-height: normal;
}
.appliance .brick-list > ul:nth-child(2) .brick-item:nth-last-child(2) .price-now {
    width: 94px;
    text-align: left;
    position: absolute;
    left: -70px;
    top: 85px;
    line-height: normal;
}
.appliance .banner img {
    width: 1226px;
    height: 120px;
    top: 650px;

}

.appliance .brick-list > ul:nth-child(2) .brick-item:last-child p:first-child {
    font-size: 18px;
    position: absolute;
    top: 14px;
    left: 30px;

}
.appliance .brick-list > ul:nth-child(2) .brick-item:last-child p:last-child {
    font-size: 12px;
    color: #757575;
    position: absolute;
    top: 45px;
    left: 30px;
}
.appliance .brick-list > ul:nth-child(2) .brick-item:last-child::before {
    content: url("img/icon-more.png");
    width: 48px;
    height: 48px;
    position: absolute;
    right: 35px;
    top: 0;
    bottom: 0;
    margin: auto;
    vertical-align: middle;
}
/* 热门/电视影音按钮 */
.more1 input {
    display: none;
}
.more1 label {
    font-size: 16px;
    transition: 0.3s;
    position: relative;
    top: -40px;
    font-weight: 300;

}

.more1 label:nth-child(2):hover::before {
    content: '';
    width: 34px;
    height: 2px;
    background-color: #ff6700;
    position: absolute;
    bottom: -2px;
}
.more1 label:nth-child(2):hover {
    color: #ff6700;
    cursor: pointer;
}

.more1 input:checked+label {
    color: #ff6700;
}

.more1 label:nth-child(4):hover {
    color: #ff6700;
    cursor: pointer;
}

.more1 label:nth-child(4) {
    position: absolute;
    right: 0;
}
.more1 label:nth-child(2) {
    position: absolute;
    right: 85px;
}
.more1 label:nth-child(4):hover::before {
    content: '';
    width: 64px;
    height: 2px;
    background-color: #ff6700;
    position: absolute;
    bottom: -2px;
}
.more1 input:first-child:checked+label::before {
    content: '';
    width: 32px;
    height: 2px;
    background-color: #ff6700;
    position: absolute;
    bottom: -2px;
}
.more1 input:nth-child(3):checked+label::before {
    content: '';
    width: 64px;
    height: 2px;
    background-color: #ff6700;
    position: absolute;
    bottom: -2px;
}

input:nth-child(3):checked~div#hot {
    display: none;
}
input:nth-child(1):checked~div#video {
    display: none;
}
/* label:nth-child(4):hover~div#hot {
    display: none;
}
label:nth-child(2):hover~div#video {
    display: none;
} */

/* 智能 */
.smart .brick-list > ul:nth-child(2) .brick-item:nth-last-child(2) {
    width: 234px;
    height: 143px;
    background-color: white;
}
.smart .brick-list > ul:nth-child(2) .brick-item:last-child {
    width: 234px;
    height: 143px;
    background-color: white;
}

.smart .brick-list > ul:nth-child(2) .brick-item:nth-last-child(2) .product-img {
    width: 80px;
    height: 80px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    right: -105px;

}
.smart .brick-list > ul:nth-child(2) .brick-item:nth-last-child(2) .title1 {
    width: 94px;
    text-align: left;
    position: absolute;
    left: -70px;
    top: 40px;
    line-height: normal;
}
.smart .brick-list > ul:nth-child(2) .brick-item:nth-last-child(2) .price-now {
    width: 94px;
    text-align: left;
    position: absolute;
    left: -70px;
    top: 85px;
    line-height: normal;
}
.smart .banner img {
    width: 1226px;
    height: 120px;
    top: 650px;

}

.smart .brick-list > ul:nth-child(2) .brick-item:last-child p:first-child {
    font-size: 18px;
    position: absolute;
    top: 14px;
    left: 30px;

}
.smart .brick-list > ul:nth-child(2) .brick-item:last-child p:last-child {
    font-size: 12px;
    color: #757575;
    position: absolute;
    top: 45px;
    left: 30px;
}
.smart .brick-list > ul:nth-child(2) .brick-item:last-child::before {
    content: url("img/icon-more.png");
    width: 48px;
    height: 48px;
    position: absolute;
    right: 35px;
    top: 0;
    bottom: 0;
    margin: auto;
    vertical-align: middle;
}
/* 智能 */

.smart .more1 label:nth-child(2) {
    width: 60px;
    right: 120px;
    text-align: right;
}

.smart .more1 label:nth-child(4) {
    width: 60px;
    right: 60px;
    text-align: right;
}
.smart .more1 label:nth-child(6) {
    width: 60px;
    position: absolute;
    right: 0;
    text-align: right;
}

.smart .more1 input:checked+label::before {
    content: '';
    width: 32px;
    height: 2px;
    background-color: #ff6700;
    position: absolute;
    bottom: -2px;
}
.smart .more1 label:hover::before {
    content: '';
    width: 32px;
    height: 2px;
    color: #ff6700;
    background-color: #ff6700;
    position: absolute;
    bottom: -2px;
    cursor: pointer;
}
.smart .more1 input:checked+label {

    color: #ff6700;
    cursor: pointer;
    transition: 0.3s;
}
.smart .more1 input:hover+label {

    color: #ff6700;
    cursor: pointer;
    transition: 0.3s;
}
.more1 input:nth-child(1):checked~div#outside {
    display: none;
}
.more1 input:nth-child(1):checked~div#safe {
    display: none;
}
.more1 input:nth-child(3):checked~div#hot1 {
    display: none;
}
.more1 input:nth-child(3):checked~div#outside {
    display: none;
}
.more1 input:nth-child(5):checked~div#safe {
    display: none;
}
.more1 input:nth-child(5):checked~div#hot1 {
    display: none;
}
/* 搭配 */

input:nth-child(3):checked~div#hot2 {
    display: none;
}
input:nth-child(1):checked~div#sound {
    display: none;
}
.accessories .brick-list > ul:nth-child(2) .brick-item:nth-last-child(2) {
    width: 234px;
    height: 143px;
    background-color: white;
}
.accessories .brick-list > ul:nth-child(2) .brick-item:last-child {
    width: 234px;
    height: 143px;
    background-color: white;
}

.accessories .brick-list > ul:nth-child(2) .brick-item:nth-last-child(2) .product-img {
    width: 80px;
    height: 80px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    right: -105px;

}
.accessories .brick-list > ul:nth-child(2) .brick-item:nth-last-child(2) .title1 {
    width: 94px;
    text-align: left;
    position: absolute;
    left: -70px;
    top: 40px;
    line-height: normal;
}
.accessories .brick-list > ul:nth-child(2) .brick-item:nth-last-child(2) .price-now {
    width: 94px;
    text-align: left;
    position: absolute;
    left: -70px;
    top: 85px;
    line-height: normal;
}
.accessories .banner img {
    width: 1226px;
    height: 120px;
    top: 650px;

}

.accessories .brick-list > ul:nth-child(2) .brick-item:last-child p:first-child {
    font-size: 18px;
    position: absolute;
    top: 14px;
    left: 30px;

}
.accessories .brick-list > ul:nth-child(2) .brick-item:last-child p:last-child {
    font-size: 12px;
    color: #757575;
    position: absolute;
    top: 45px;
    left: 30px;
}
.accessories .brick-list > ul:nth-child(2) .brick-item:last-child::before {
    content: url("img/icon-more.png");
    width: 48px;
    height: 48px;
    position: absolute;
    right: 35px;
    top: 0;
    bottom: 0;
    margin: auto;
    vertical-align: middle;
}
/* 配件 */

.parts .more1 input:checked+label {
    color: #ff6700;
}

.parts .more1 label:nth-child(4):hover {
    color: #ff6700;
    cursor: pointer;
}

.parts .more1 label:nth-child(4) {
    position: absolute;
    right: 0;
}
.parts .more1 label:nth-child(2) {
    position: absolute;
    right: 85px;
}
.parts .more1 label:nth-child(6):hover {
    color: #ff6700;
    transition: 0.3s;
    cursor: pointer;
}
.parts .more1 label:nth-child(4):hover::before {
    content: '';
    width: 48px;
    height: 2px;
    background-color: #ff6700;
    position: absolute;
    bottom: -2px;
    transition: 0.3s;
}
.parts .more1 input:first-child:checked+label::before {
    content: '';
    width: 32px;
    height: 2px;
    background-color: #ff6700;
    position: absolute;
    bottom: -2px;
    transition: 0.3s;
}
.parts .more1 input:nth-child(3):checked+label::before {
    content: '';
    width: 48px;
    height: 2px;
    background-color: #ff6700;
    position: absolute;
    bottom: -2px;
    transition: 0.3s;
}

.parts .more1 label:nth-child(2) {
    width: 60px;
    right: 140px;
    text-align: right;
}

.parts .more1 label:nth-child(4) {
    width: 60px;
    right: 60px;
    text-align: right;
}
.parts .more1 label:nth-child(6) {
    width: 60px;
    position: absolute;
    right: 0;
    text-align: right;
}

.parts .more1 input:checked+label::before {
    content: '';
    width: 32px;
    height: 2px;
    background-color: #ff6700;
    position: absolute;
    bottom: -2px;
}
.parts .more1 label:hover::before {
    content: '';
    width: 32px;
    height: 2px;
    color: #ff6700;
    background-color: #ff6700;
    position: absolute;
    bottom: -2px;
    cursor: pointer;
}
.parts .more1 input:nth-child(1):checked~div#charger {
    display: none;
}
.parts .more1 input:nth-child(1):checked~div#sleeve {
    display: none;
}
.parts .more1 input:nth-child(3):checked~div#hot3 {
    display: none;
}
.parts .more1 input:nth-child(3):checked~div#charger {
    display: none;
}
.parts .more1 input:nth-child(5):checked~div#sleeve {
    display: none;
}
.parts .more1 input:nth-child(5):checked~div#hot3 {
    display: none;
}
.parts .brick-list > ul:nth-child(2) .brick-item:nth-last-child(2) {
    width: 234px;
    height: 143px;
    background-color: white;
}
.parts .brick-list > ul:nth-child(2) .brick-item:last-child {
    width: 234px;
    height: 143px;
    background-color: white;
}

.parts .brick-list > ul:nth-child(2) .brick-item:nth-last-child(2) .product-img {
    width: 80px;
    height: 80px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    right: -105px;

}
.parts .brick-list > ul:nth-child(2) .brick-item:nth-last-child(2) .title1 {
    width: 94px;
    text-align: left;
    position: absolute;
    left: -70px;
    top: 40px;
    line-height: normal;
}
.parts .brick-list > ul:nth-child(2) .brick-item:nth-last-child(2) .price-now {
    width: 94px;
    text-align: left;
    position: absolute;
    left: -70px;
    top: 85px;
    line-height: normal;
}
.parts .banner img {
    width: 1226px;
    height: 120px;
    top: 650px;

}

.parts .brick-list > ul:nth-child(2) .brick-item:last-child p:first-child {
    font-size: 18px;
    position: absolute;
    top: 14px;
    left: 30px;

}
.parts .brick-list > ul:nth-child(2) .brick-item:last-child p:last-child {
    font-size: 12px;
    color: #757575;
    position: absolute;
    top: 45px;
    left: 30px;
}
.parts .brick-list > ul:nth-child(2) .brick-item:last-child::before {
    content: url("img/icon-more.png");
    width: 48px;
    height: 48px;
    position: absolute;
    right: 35px;
    top: 0;
    bottom: 0;
    margin: auto;
    vertical-align: middle;
}
/* 周边 */
.surrounding .brick-list > ul:nth-child(2) .brick-item:nth-last-child(2) {
    width: 234px;
    height: 143px;
    background-color: white;
}
.surrounding .brick-list > ul:nth-child(2) .brick-item:last-child {
    width: 234px;
    height: 143px;
    background-color: white;
}

.surrounding .brick-list > ul:nth-child(2) .brick-item:nth-last-child(2) .product-img {
    width: 80px;
    height: 80px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    right: -105px;

}
.surrounding .brick-list > ul:nth-child(2) .brick-item:nth-last-child(2) .title1 {
    width: 94px;
    text-align: left;
    position: absolute;
    left: -70px;
    top: 40px;
    line-height: normal;
}
.surrounding .brick-list > ul:nth-child(2) .brick-item:nth-last-child(2) .price-now {
    width: 94px;
    text-align: left;
    position: absolute;
    left: -70px;
    top: 85px;
    line-height: normal;
}
.surrounding .banner img {
    width: 1226px;
    height: 120px;
    top: 650px;

}

.surrounding .brick-list > ul:nth-child(2) .brick-item:last-child p:first-child {
    font-size: 18px;
    position: absolute;
    top: 14px;
    left: 30px;

}
.surrounding .brick-list > ul:nth-child(2) .brick-item:last-child p:last-child {
    font-size: 12px;
    color: #757575;
    position: absolute;
    top: 45px;
    left: 30px;
}
.surrounding .brick-list > ul:nth-child(2) .brick-item:last-child::before {
    content: url("img/icon-more.png");
    width: 48px;
    height: 48px;
    position: absolute;
    right: 35px;
    top: 0;
    bottom: 0;
    margin: auto;
    vertical-align: middle;
}
.surrounding input:nth-child(3):checked+label::before {
    width: 32px;
}

.surrounding label:nth-child(4):hover::before {
    width: 32px;
}
.surrounding input:nth-child(3):checked~div#hot4 {
    display: none;
}
.surrounding input:nth-child(1):checked~div#outside2 {
    display: none;
}

/* 视频 */
.video {
    width: 100%;

}

.video-list {
    width: 100%;
    height: 299px;
    position: relative;

}

.video-item {
    display: inline-block;
    width: 296px;
    top: 0;
    height: 285px;
    background-color: white;
    margin-right: 14px;
    float: left;
    position: relative;
    transition: 0.3s;
}
.video-item:hover {
    top: -2px;
    position: relative;
    transition: 0.3s;
    box-shadow: 0 15px 30px 0 rgb(0, 0, 0, 0.1);
    z-index: 10;
    cursor: pointer;
}
.video-item:last-child {

    margin-right: 0;
}
.video-item img {
    width: 296px;
    height: 180px;

}

.video-item p {
    text-align: center;
    margin: auto;
    left: 0;
    right: 0;
    position: absolute;
    bottom: 55px;
}
.video-item span {
    width: 36px;
    height: 24px;
    position: absolute;
    left: 20px;
    top: 140px;
    background-color: rgb(0, 0, 0, 0.6);
    border-radius: 24px;
    border: 2px solid white;

    transition: 0.3s;
}
.video-item span::before {
    line-height: 24px;
    width: 15px;
    height: 15px;
    content: url("img/icon-play.png");
    position: absolute;
    left: 0;
    right: 0;
    top: -8px;
    bottom: 0;
    margin: auto;
    text-align: center;
}
img:hover+span {
    background-color: #ff6700;
    border-color: #ff6700;
    transition: 0.3s;
}
.video-item span:hover {
    background-color: #ff6700;
    border-color: #ff6700;
    transition: 0.3s;
}

/* 底部服务栏 */
.site-footer {
    width: 100%;
    height: 272px;
    background-color: white;
    position: relative;

}
.footer-service {

    display: inline-block;
    width: 1226px;
    height: 80px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
    border-bottom: 1px solid #e0e0e0;
    vertical-align: middle;

}
.footer-service li {
    font-size: 16px;
    color: #616161;
    display: inline-block;
    width: 20%;
    height: 24px;
    border-right: 1 solid #e0e0e0;
    float: left;
    line-height: 80px;
    text-align: center;
    transition: 0.3s;

}
.footer-service li:hover {
    color: #ff6700;
    transition: 0.3s;
    cursor: pointer;
}

.footer-service span {
    width: 1px;
    height: 24px;
    background-color: #e0e0e0;
    position: absolute;
    /* right:0; */
    top: 0;
    bottom: 0;
    margin: auto;
    /* vertical-align: middle; */

}
.footer-service li:first-child::before {
    content: url("img/icon-repair.png");
    position: relative;
    margin: auto;
    top: 8px;
    bottom: 0;
    left: -2px;
    transition: 0.3s;
}
.footer-service li:first-child:hover::before {
    content: url("img/icon-repair-hover.png");
    position: relative;
    margin: auto;
    top: 8px;
    bottom: 0;
    left: -2px;
    transition: 0.3s;
}
.footer-service li:nth-child(3)::before {
    content: url("img/icon-7days.png");
    position: relative;
    margin: auto;
    top: 8px;
    bottom: 0;
    left: -2px;
    transition: 0.3s;
}
.footer-service li:nth-child(3):hover::before {
    content: url("img/icon-7days-hover.png");
    position: relative;
    margin: auto;
    top: 8px;
    bottom: 0;
    left: -2px;
    transition: 0.3s;
}
.footer-service li:nth-child(5)::before {
    content: url("img/icon-15days.png");
    position: relative;
    margin: auto;
    top: 8px;
    bottom: 0;
    left: -2px;

}
.footer-service li:nth-child(5):hover::before {
    content: url("img/icon-15days-hover.png");
    position: relative;
    margin: auto;
    top: 8px;
    bottom: 0;
    left: -2px;
    transition: 0.3s;
}
.footer-service li:nth-child(7)::before {
    content: url("img/icon-gift.png");
    position: relative;
    margin: auto;
    top: 8px;
    bottom: 0;
    left: -2px;
    transition: 0.3s;
}
.footer-service li:nth-child(7):hover::before {
    content: url("img/icon-gift-hover.png");
    position: relative;
    margin: auto;
    top: 8px;
    bottom: 0;
    left: -2px;
    transition: 0.3s;
}
.footer-service li:last-child::before {
    content: url("img/icon-position.png");
    position: relative;
    margin: auto;
    top: 8px;
    bottom: 0;
    left: -2px;
    transition: 0.3s;
}
.footer-service li:last-child:hover::before {
    content: url("img/icon-position-hover.png");
    position: relative;
    margin: auto;
    top: 8px;
    bottom: 0;
    left: -2px;
    transition: 0.3s;
}
.footer-links {
    width: 1226px;
    height: 112px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 80px;
    padding: 40px 0;
}
.footer-links table {

    box-sizing: content-box;
    position: relative;

    width: 973px;
    /* border: 1px solid red; */
    border-collapse: collapse;
}
.footer-links table thead {
    font-size: 14px;
    color: #424242;
}
.footer-links table thead td {
    width: 160px;

    padding: 0 0 15px;

}
.footer-links table tbody td {

    width: 160px;
    height: 28px;
    padding: 0;

}
.footer-links table tbody {
    font-size: 12px;
    color: #757575;

}
.footer-links table tbody td:hover {
    font-size: 12px;
    color: #ff6700;
    cursor: pointer;
}

.col-contact {
    width: 246px;
    height: 112px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
    border-left: 1px solid #e0e0e0;
}

.col-contact p:first-child {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    font-size: 22px;
    color: #ff6700;
}
.col-contact p:nth-child(2) {
    position: absolute;
    left: 0;
    right: 0;
    top: 30px;
    margin: auto;
    font-size: 12px;
    color: #616161;
    text-align: center;
}
.col-contact button {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    outline: none;
    border: 1px solid #ff6700;
    width: 120px;
    height: 30px;
    color: #ff6700;
    bottom: 0;
    transition: 0.3s;

}
.col-contact button::before {
    width: 12px;
    height: 12px;
    content: url("img/icon-customer-service.png");
    position: relative;
    top: 2px;
    transition: 0.3s;
}
.col-contact button:hover::before {
    width: 12px;
    height: 12px;
    content: url("img/icon-customer-service-hover.png");
    position: relative;
    top: 2px;
    transition: 0.3s;
}
.col-contact button:hover {
    background-color: #ff6700;
    color: white;
    transition: 0.3s;
    cursor: pointer;
}
/* 底部信息栏 */
.site-info .contain3 {
    width: 1226px;
    position: absolute;
    left: 0;
    right: 0;

}
.site-info .contain3 {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;

}
.info-text {
    width: 100%;
    height: 90px;
    position: relative;

}
.info-links {
    width: 100%;
    height: 28px;
    position: relative;

}
.site-info img {
    width: 57px;
    height: 57px;
    position: relative;
}

.site-info ul {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 70px;

}
.site-info .info-text ul:nth-child(2) li {
    display: inline-block;
    position: relative;
    font-size: 12px;
    color: #757575;
    padding: 0 5px 0 0;
}

.site-info .info-text ul:nth-child(2) li:hover {
    color: #ff6700;
    cursor: pointer;
}
.site-info .info-text ul:nth-child(2) li::before {
    content: '';
    width: 1px;
    height: 10px;
    position: absolute;
    right: 0;
    background-color: #c9c9c9;
    top: 0;
    bottom: 0;
    margin: auto;
}

.site-info .info-text ul li:last-child::before {
    width: 0;
}
.info-item ul {
    display: inline-block;
    position: relative;
}
.info-item ul li {
    position: relative;
    font-size: 12px;
    display: inline-block;
    color: #b0b0b0;
}
.info-item ul li:hover {
    color: #ff6700;
    cursor: pointer;
}
.info-item {
    position: absolute;
    top: 20px;

}
.info-item:nth-child(3) {

    top: 35px;
}
.info-item:nth-child(4) {

    top: 50px;
}
.info-item:nth-child(5) {

    top: 65px;
}
.info-text .img1 {
    width: 85px;
    height: 28px;
    position: relative;
    top: 65px;
    left: -15px;
}
.slogan {
    width: 100%;
    text-align: center;
    color: #d2d2d2;
    position: relative;
    top: 50px;
}
